<div class="bg-body dark:bg-darkmode-body rounded-lg border-solid border p-4">
  {{ if .Params.image }}
    {{ $image := path.Join .Params.image_folder .Params.image}}
    {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mb-6 w-full rounded") }}
  {{ else }}
    {{ errorf "An image was not defined for a blogpost:  %q" .Params.image}}
  {{ end }}
  <h2 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  <ul class="mb-4">
    {{if .Params.author}}
    <li class="mr-4 inline-block">
      <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
        <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
      </a>
    </li>
    {{end}}
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-folder mr-2" aria-label="Categorieën"></i>
      {{ $categories:= .Params.categories }}
      {{ range $i,$p:= $categories }}
        <a
          href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
          class="ms-1"
          >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
            {{ ", " }}
          {{ end }}
        </a>
      {{ end }}
    </li>
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-clock mr-2"></i>
      {{ time.Format ":date_long" .PublishDate }}
    </li>
  </ul>
  <div class="mb-6">{{ .Summary }}</div>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more" }}
  </a>
</div>
