<div class="rounded-lg border-solid border p-4">
  {{ $image:= .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mb-6 w-full rounded") }}
  {{ end }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  <ul class="mb-4">
    {{if .Params.sponsor_type}}
    <li class="mr-4 inline-block">
        <i class="fa-regular fa-medal mr-2"></i>{{ .Params.sponsor_type }}
    </li>
    {{end}}

    {{if .Params.sponsor_time}}
    <li class="mr-4 inline-block">
      <i class="fa-regular fa-calendar mr-2"></i>
      {{ $time:= .Params.sponsor_time }}
      {{ range $i,$p:= $time }}
        <a
          class="ms-1"
          >{{ . | humanize }}{{ if ne $i (sub (len $time) 1) }}
            {{ "- " }}
          {{ end }}
        </a>
      {{ end }}
    </li>
    {{end}}
  </ul>
  <p class="mb-6">{{ .Summary }}</p>
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ i18n "read_more_about" }}{{ .Params.Title }}
  </a>
</div>
