// Add your own custom styles here
// Banner custom styles: https://codepen.io/onebrightlight/details/RQmRYg
.object-fit-fill {
  object-fit: fill;
}

.object-fit-contain {
  object-fit: contain;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-none {
  object-fit: none;
}

.object-fit-scale-down {
  object-fit: scale-down;
}

// Swiper variables
// Light theme
:root {
  //Same as h-28
  --swiper-navigation-size: 7rem;
  // Changes the colors of the navigation chevrons
  --swiper-theme-color: black;
  --swiper-navigation-sides-offset: 0px;
}
// Dark theme
:root :is(.dark body){
  --swiper-theme-color: white;
}
.swiper-button-next {
  right: -10px !important;
  left: auto !important;
}

.swiper-button-prev {
  right: auto !important;
  left: -10px !important;
}

.swiper-button-prev, .swiper-button-next {
  @apply z-30;
}