{{ define "main" }}
{{ partial "page-header" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <!-- sponsors -->
      <h2 id="sponsors" class="flex justify-center">{{ i18n "sponsors" }}</h2>
      <p class="mb-10 mt-4">{{ .Params.sponsorText }}</p>
      {{ $paginator:= .Paginate .RegularPages }}
      {{ range where $paginator.Pages "Params.type" "sponsor" }}
      <div class="md:col-6 lg:col-4 mb-14">
        {{ partial "components/sponsor-card" . }}
      </div>
      {{ end }}
      {{ partial "components/pagination.html" . }}

      <!-- partners -->
      <h2 id="partners" class="flex justify-center">{{ i18n "partners" }}</h2>
      <p class="mb-10 mt-4">{{ .Params.partnerText }}</p>
      {{ $paginator:= .Paginate .RegularPages }}
      {{ range where $paginator.Pages "Params.type" "partner" }}
      <div class="md:col-6 lg:col-4 mb-14">
        {{ partial "components/sponsor-card" . }}
      </div>
      {{ end }}
      {{ partial "components/pagination.html" . }}
    </div>
</section>
{{ end }}