{{ define "main" }}
{{ partial "page-header" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <!-- sponsors -->
      <h2 id="sponsors" class="flex justify-center">{{ i18n "sponsors" }}</h2>
      <p class="mb-20 mt-4">{{ .Params.sponsorText }}</p>

      {{ if .Params.mainSponsor.showBanner }}

      <h2 class="mb-4 flex justify-center">
        <span>
          <i class="fa-regular fa-medal text-pink-700"></i>
          <span class=" text-m bg-gradient-to-r from-pink-700 to-yellow-600 bg-clip-text text-transparent">Lustrum hoofdsponsor</span>
        </span>
      </h2>
      <div class="rounded-[1.2rem] bg-linear-to-br pr-4 pl-4 pt-1 pb-1 from-pink-700 to-amber-400 mb-40">
        <div class="flex row gap-10 bg-white dark:bg-darkmode-body rounded-[calc(1.2rem-1px)] p-8">
          <div class="flex flex-col lg:col justify-center">
            <a href="{{ .Params.mainSponsor.link }}" target="_blank">
              {{ partial "image" (dict "Src" .Params.mainSponsor.image "Alt" .Params.mainSponsor.name "Class" "rounded-lg" )}}
            </a>
          </div>
          <div class="flex flex-col lg:col">
            <h2 class="mb-2">{{ .Params.mainSponsor.name }}</h2>
            <span class="mb-4">
              <i class="fa-regular fa-calendar"></i>
              {{ .Params.mainSponsor.period }}
            </span>
            <p class="mb-6">{{ .Params.mainSponsor.text }}</p>
            <span>
              <a href="{{ .Params.mainSponsor.link }}" target="_blank" class="btn btn-outline-primary">Meer weten</a>
            </span>
          </div>
        </div>
      </div>

      {{ end}}

      {{/* Get all sponsor pages */}}
      {{ $sponsors := where .RegularPages "Params.type" "sponsor" }}

      {{/* Create a new slice to hold sponsors with a custom numeric sort key */}}
      {{ $sortedSponsors := slice }}
      {{ range $sponsors }}
        {{/* Convert sponsor_type to lowercase, to make it case insensitive */}}
        {{ $type := .Params.sponsor_type | lower }}
        {{ $sortKey := 0 }}

        {{/* Assign numeric value to sponsor types for sorting */}}
        {{ if eq $type "repository" }}
          {{ $sortKey = 1 }}
        {{ else if eq $type "branch" }}
          {{ $sortKey = 2 }}
        {{ else if eq $type "branch (maatwerk)" }}
          {{ $sortKey = 2 }}
        {{ else if eq $type "commit" }}
          {{ $sortKey = 3 }}
        {{ end }}

        {{/* Add the sponsor and its sortKey to the new slice */}}
        {{ $sortedSponsors = $sortedSponsors | append (dict "Page" . "SortKey" $sortKey) }}
      {{ end }}

      {{/* Sort sponsors by the custom SortKey */}}
      {{ $sortedSponsors = sort $sortedSponsors ".SortKey" }}

      {{/* Render sorted sponsors */}}
      {{ range $sortedSponsors }}
        <div class="flex md:col-6 lg:col-4 mb-14">
          {{ partial "components/sponsor-card" .Page }}
        </div>
      {{ end }}

      {{ partial "components/pagination.html" . }}

      <!-- partners -->
      <h2 id="partners" class="flex justify-center">{{ i18n "partners" }}</h2>
      <p class="mb-10 mt-4">{{ .Params.partnerText }}</p>

      {{ $paginator := .Paginate .RegularPages }}
      {{ range where $paginator.Pages "Params.type" "partner" }}
      <div class="flex md:col-6 lg:col-4 mb-14">
        {{ partial "components/sponsor-card" . }}
      </div>
      {{ end }}
      {{ partial "components/pagination.html" . }}
    </div>
  </div>
</section>
{{ end }}
