
{{ define "main" }}
  {{ partial "page-header" . }}
  <div class="section-sm">
    <div class="container flex flex-col gap-10">
      <h2 class="h2 text-center">{{ .Title }}</h2>
        <div class="col [&>h1]:text-center [&>h2]:text-center [&>h3]:text-center [&>h4]:text-center content">
            {{ .Content }}
        </div>
      </div>
  </div>

  {{ $sections := .Sections }}
  {{ $sorted_sections := sort $sections ".Params.rank" "asc"}}

  {{ range $sorted_sections }}
    <section class="section-sm">
      <div class="container flex flex-col gap-10">
        <h2 class="h2 text-center">{{ .Title }}</h2>
        <div class="row justify-center">
          {{/* By default: first image then text (underneath each-other). On medium screens: text first then image (md:order-x)*/}}
          <div class="col-12 md:col-5 content md:order-2">
            {{ partial "image" (dict "Src" .Params.image "Alt" .Params.image_alt "Class" "mx-auto mb-6 rounded-lg border-solid border" "Size" .Params.img_size_large) }}
          </div>
          <div class="col-12 flex justify-center items-center md:col-5 pt-8 md:order-1 content">
            {{ .Content }}
          </div>
        </div>
        <div class="row justify-center">
          {{ $paginator := .Paginate .RegularPages }}
          {{ range $paginator.Pages }}
            <div class="md:col-10 lg:col-5 text-center">
              {{ partial "image" (dict "Src" .Params.image "Alt" .Params.image_alt "Class" "mx-auto mb-6 rounded-lg border-solid border" "Size" .Params.img_size_small) }}
              <h3 class="h3 mb-6">{{ .Title }}</h3>
              <div class="content">{{ .Content }}</div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
