
{{ define "main" }}
  {{ partial "page-header" . }}

  {{ $sections := .Sections }}
  {{ $sorted_sections := sort $sections ".Params.rank" "asc"}}

  {{ range $sorted_sections }}
    <section class="section-sm">
      <div class="container flex flex-col gap-10">
        <h2 class="text-center">{{ .Title }}</h2>
        <div class="row justify-center">
          {{ $paginator := .Paginate .RegularPages }}
          {{ range $paginator.Pages }}
            <div class="md:col-10 lg:col-5 text-center">
              {{ partial "image" (dict "Src" .Params.image "Alt" .Params.image_alt "Class" "mx-auto mb-6" "Size" "300x200") }}
              <h2 class="h3 mb-6">{{ .Title }}</h2>
              <div class="content">{{ .Content }}</div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
