{{ define "main" }}
  <!-- New Banner -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="w-100">
          {{ partial "components/slideshow" (dict "title" .Params.banner.title "subtitle" .Params.banner.subtitle "call_to_action" .Params.banner.call_to_action "banner_images" .Params.banner.banner_images)}}
        </div>
      <div class="banner-slider-pagination mt-9 flex items-center justify-center text-center"></div>
    </div>
  </section>
  <!-- /New banner -->
  <!-- Verwijzingen -->
  <section class="section">
    <div class="container">
      <div class="flex gap-5 row">
        {{ range $i, $e:= .Params.verwijzingen }}
          <div class="flex flex-col gap-5 col bg-theme-light dark:bg-darkmode-theme-light p-5">
            <h3 class="">{{ .title }}</h3>
            <p>{{ .content }}</p>
            <button class="btn btn-primary w-36">{{ .button }}</button>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /Verwijzingen -->

  <!-- Over Ons -->
  {{ with site.GetPage "sections/over-ons.md"}}
  <section class="section">
    <div class="container">
      <div class="max-sm:flex max-sm:flex-col md:row">
        <div class="flex flex-col col gap-5 md:col-6 mx-auto text-center">
          <h1>{{ .Title }}</h1>
          <p>{{ .Content }}</p>
        </div>
        <div class="col">
          {{ $imagePath := (printf "%s%s" "assets/" .Params.image_path)}}
          {{ if (fileExists $imagePath) }}
            {{ $image := resources.Get .Params.image_path }}
            {{ partial "image" (dict "Src" $image "Alt" "Een foto van het huidige bestuur" "Class" "w-full rounded" "Command" "Fit") }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  <!-- /Over ons -->
{{ end }}
